<!-- <p>userlogin works!</p> -->
<div class="head">
  <label for="inputPassword" class="col-sm-2 col-form-label">UserName</label>
  <div class="col-sm-10">
    <input [(ngModel)]="uIUserName" type="password"  class="form-control" id="inputPassword" />
  </div>
  <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
  <div class="col-sm-10">
    <input  [(ngModel)]="uIPassWord" type="password" class="form-control" id="inputPassword" />
    <br />
  </div>

  <button type="button" (click)="login()" class="btn btn-primary">Log-In</button>
</div>
 